logs
project/project
project/target
/project/boot/
/project/plugins/project
target
target/
tmp
.history
dist
/.idea/
/.idea
/.idea_modules
/*.iml
/out
/.classpath
/.project
/RUNNING_PID
/.settings
lib_managed/
src_managed/
test-output/
*.iml
.cache
.classpath
.project
.shell_history
*~
